body{
    background-image: url('https://th.bing.com/th/id/OIP.IuwiTE8fd-OtAn0Z3EYarwHaEK?rs=1&pid=ImgDetMain');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767px) {
  body {
    background-size:cover; /* Adjust background size for smaller screens */
  }
}
