body{
    background-image: url('https://github.com/adikotha/Recipie-App/blob/b93a8bab6b5c944bd30a0a73b9c06cc1943965d3/assets/foodbackg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767px) {
  body {
    background-size:cover; /* Adjust background size for smaller screens */
  }
}
